.navbar-cart
	h3.navbar-cart-heading My Cart
	.navbar-cart-item
		.navbar-cart-item-left
			a.thumbnail-small( href='single-product.html' )
				+img( 'product-02-80x80' )
		.navbar-cart-item-body
			a.navbar-cart-item-heading( href='single-product.html' ) Round Clear & White Frame Eyeglasses
			.navbar-cart-item-price $29
		.navbar-cart-item-right
			button.navbar-cart-remove.mdi-delete.novi-icon

	.navbar-cart-item
		.navbar-cart-item-left
			a.thumbnail-small( href='single-product.html' )
				+img( 'product-03-80x80' )
		.navbar-cart-item-body
			a.navbar-cart-item-heading( href='single-product.html' ) Round Non-Prescription Eyeglasses Clear Lens
			.navbar-cart-item-price $34
		.navbar-cart-item-right
			button.navbar-cart-remove.mdi-delete.novi-icon

	.navbar-cart-item
		.navbar-cart-item-left
			a.thumbnail-small( href='single-product.html' )
				+img( 'product-04-80x80' )
		.navbar-cart-item-body
			a.navbar-cart-item-heading( href='single-product.html' ) Matte Gray Plastic Eyeglasses
			.navbar-cart-item-price $31
		.navbar-cart-item-right
			button.navbar-cart-remove.mdi-delete.novi-icon

	.navbar-cart-line
		.navbar-cart-line-name Subtotal:
		.navbar-cart-line-value $94.00

	.navbar-cart-buttons
		.navbar-cart-group
			a.btn.btn-dark( href='cart.html' ) View Cart
			a.btn.btn-primary( href='#' ) Check Out
