include ../post/_post

.widget
	.widget-title.h5 Recent Posts
	.widget-body
		+post-simple({
			title: 'Top 8 DJI Osmo Action Accessories',
			comments: '0'
		})
		+post-simple({
			title: 'Top 15 Aerial Photography Tips for Beginners',
			comments: '0'
		})
		+post-simple({
			title: 'How Drones Help The Environment',
			comments: '0'
		})
