.widget
	.widget-title.h5 Text
	.widget-body
		.widget-text
			.widget-text-item
				.widget-text-title.h6 Large image: Hand Coded
				+img( 'image-04-260x195' ).widget-text-image
			.widget-text-item
				.widget-text-title.h6 Large image: Hand Coded
				+img( 'image-04-260x195' ).widget-text-image
				.widget-text-image-caption This image is 260X195 by pixels
			.widget-text-item
				.widget-text-title.h6 Meat!
				.widget-text-description
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua feugiat.
					br
					| 😉 😀