.widget
	.widget-title.h5 Meta
	.widget-body
		ul.widget-list
			li.widget-list-item
				a.widget-list-link( href='#' ) News
			li.widget-list-item
				a.widget-list-link( href='#' ) Drones
			li.widget-list-item
				a.widget-list-link( href='#' ) Tips
			li.widget-list-item
				a.widget-list-link( href='#' ) Photography
			li.widget-list-item
				a.widget-list-link( href='#' ) Aerial
			li.widget-list-item
				a.widget-list-link( href='#' ) Review
