include ../input/_input

.widget
	.widget-title.h5 Layered Nav List
	.widget-body
		+checkbox-filter({
			checked: true,
			text: 'Black',
			count: '1'
		})
		+checkbox-filter({
			text: 'White',
			count: '1'
		})
		+checkbox-filter({
			text: 'Gray',
			count: '1'
		})
		+checkbox-filter({
			text: 'Dark Gray',
			count: '1'
		})
		+checkbox-filter({
			text: 'Light Gray',
			count: '1'
		})