include ../logo/_logo
include ../rights/_rights

section.footer.footer-dark.context-dark.bg-800
	.container
		.row.row-30
			.col-sm-6.col-lg-3
				+logo
				p Dronix is your #1 place to shop for the first-class drones and accessories worldwide.
				.social.group-20
					a( href='#' ).social-icon.icon.icon-md.icon-link.onclinic-facebook
					a( href='#' ).social-icon.icon.icon-md.icon-link.onclinic-twitter
					a( href='#' ).social-icon.icon.icon-md.icon-link.onclinic-instagram

			.col-sm-6.col-lg-3
				h5.footer-title Purposes
				ul.list.list-sm
					li.list-item: a( href='single-purpose.html' ) Movie Production
					li.list-item: a( href='single-purpose.html' ) Mineral Exploration
					li.list-item: a( href='single-purpose.html' ) Aerial Surveillance
					li.list-item: a( href='single-purpose.html' ) Public Security
					li.list-item: a( href='single-purpose.html' ) Recreational Use
					li.list-item: a( href='single-purpose.html' ) Remote Sensing

			.col-sm-6.col-lg-3
				h5.footer-title Contacts
				ul.list.list-icons
					li.list-item
						.list-icon.onclinic-map-marker
						a( href='#' ) 670 Lafayette Ave, Brooklyn, NY 11216
					li.list-item
						.list-icon.onclinic-phone
						a( href='tel:#' ) (123) 456-7890
					li.list-item
						.list-icon.onclinic-email-open
						a( href='mailto:#' ) info@demolink.org
					li.list-item
						.list-icon.onclinic-book
						a( href='book-an-appointment.html' ) Book an Appointment

			.col-sm-6.col-lg-3
				h5.footer-title Useful Links
				ul.list.list-sm
					li.list-item: a( href='about-us.html' ) About Us
					li.list-item: a( href='showcase.html' ) Showcase
					li.list-item: a( href='contacts.html' ) Contacts
					li.list-item: a( href='grid-blog.html' ) Blog

footer.footer.footer-minimal.context-dark.bg-900
	.container
		+rights
