include ../blurb/_blurb

// About us tabs
section.section.section-md.bg-200
	.container
		.row.row-20.row-lg-40.flex-sm-row-reverse
			.col-md-6.ml-auto
				.title-1 About us
				h2
					| We help you
					br.d-none.d-xl-inline
					| embrace the future
				p At Dronix, we believe that using drones should empower modern creators to capture what was once out of reach.
				p Since 2005, our team of drone experts have advised, built, and supplied drones all over the US. We’re your one-stop shop for everything related to remote control aircraft.
				.btn-group-1
					a.btn.btn-lg( href='about-us.html' ) Explore
			.col-md-5.d-none.d-md-block
				+img( 'image-03-460x495.png' ).image
