// About us 10
section.section.section-md.bg-transparent
	.container
		.offset-md
			.row.row-30
				.col-md-6
					+img( 'image-15-520x390' )
				.col-md-6
					h2 Shoot videos easily with our drones
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Nam aliquam sem et tortor consequat id porta. In metus vulputate eu scelerisque felis imperdiet.
					p Ut etiam sit amet nisl purus. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Aliquet lectus proin nibh nisl condimentum id venenatis a condimentum.

		.offset-md
			.row.row-30.flex-md-row-reverse
				.col-md-6
					+img( 'image-16-520x390' )
				.col-md-6
					h2 2. Top features
					p Turpis in eu mi bibendum neque egestas congue quisque. Viverra suspendisse potenti nullam
					ul.list.list-marked
						li.list-item Improved stability
						li.list-item Increased flight time
						li.list-item Simple handling
					p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt augue interdum velit.

		.offset-md.text-center
			.btn-group-1
				a.btn.btn-lg.btn-primary( href='contacts.html' ) Get In Touch

		.offset-md
			h2 3. Best drones for movie production
			.table-container.table-responsive
				table.table.table-separate
					thead
						tr
							th Drone Model
							th.text-center Price:
					tbody
						tr
							td DJI Mavic Pro
							td.h5.text-center.text-primary $785
						tr
							td Yuneec Typhoon H
							td.h5.text-center.text-primary $85
						tr
							td GoPro Karma with HERO6 Black
							td.h5.text-center.text-primary $132
						tr
							td DJI Phantom 4 Pro
							td.h5.text-center.text-primary $98
						tr
							td DJI Inspire 2
							td.h5.text-center.text-primary $54
						tr
							td Intuitive Aerial Aerigon Mk II
							td.h5.text-center.text-primary $68