// About us 8
section.section.section-md.bg-transparent
	.container
		.row.row-30.justify-content-center.align-items-center.text-center.text-md-left
			.col-xs-10.col-md-6
				+img( 'image-21-520x390.png' )

			.col-xs-10.col-md-6
				h3 Offering the best camera drones and accessories
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
				p Ut etiam sit amet nisl purus. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Aliquet lectus proin nibh nisl condimentum id venenatis a condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.