// About us 7
section.section.section-md.bg-200.pb-0
	.container
		.text-block.text-center
			h1 We are a recognized leader in high-tech  services
			p Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut #[br.d-none.d-lg-inline]labore et dolore magna aliqua.
			+img( 'product-02-875x553.png' )