include ../section/_section-repeat-content

// Accordion line
section.section.section-md.bg-transparent
	.container
		.text-block.text-center
			h2 Frequently asked questions
		.row.row-content.justify-content-center
			.col-md-10.col-lg-8
				+accordion-line