include ../blurb/_blurb

// Blurb 1
section.section.section-md.bg-200.text-center
	.container
		.text-block
			.title-1 How we work
			h3 Picking a drone for you is simple
		.row.row-30.row-content.justify-content-center.justify-content-md-start
			.col-xs-6.col-md-4
				+blurb-number({
					number: '1',
					title: 'Choose how your drone will be used',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.'
				}).blurb-2
			.col-xs-6.col-md-4
				+blurb-number({
					number: '2',
					title: 'Select the preferred model',
					text: 'Lacus vestibulum sed arcu non odio. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. '
				}).blurb-2
			.col-xs-6.col-md-4
				+blurb-number({
					number: '3',
					title: 'Use our free or discounted shipping available worldwide',
					text: 'Dui accumsan sit amet nulla facilisi morbi. Nibh ipsum consequat nisl vel pretium.'
				}).blurb-2