include ../blurb/_blurb

// Blurb boxed 3
section.section.section-md.bg-transparent.text-center
	.container
		.text-block
			h2 Dronix provides high-quality drones & accessories for a variety of purposes

		.row.row-20.row-lg-40.row-content
			.col-xs-6.col-md-4.d-flex
				+blurb-boxed-simple({
					iconClass: 'linearicons-shield-check',
					title: 'Public Security'
				})
			.col-xs-6.col-md-4.d-flex
				+blurb-boxed-simple({
					iconClass: 'linearicons-box',
					title: 'Mineral exploration'
				})
			.col-xs-6.col-md-4.d-flex
				+blurb-boxed-simple({
					iconClass: 'linearicons-camera',
					title: 'Movie Production'
				})

			.col-xs-6.col-md-4.d-flex
				+blurb-boxed-simple({
					iconClass: 'linearicons-map2',
					title: 'Aerial Surveillance'
				})
			.col-xs-6.col-md-4.d-flex
				+blurb-boxed-simple({
					iconClass: 'linearicons-mic2',
					title: 'Recreational Use'
				})
			.col-xs-6.col-md-4.d-flex
				+blurb-boxed-simple({
					iconClass: 'linearicons-hammer-wrench',
					title: 'Remote Sensing'
				})

		.btn-group-1
			a.btn.btn-lg.btn-primary( href='purposes.html' ) View more
