include ../base/_svg-elements

// Contact us 3
section.section.section-md.bg-primary-lightest.section-offset-3
	.container
		.row.row-40
			.col-md-6
				.text-block
					.title-1 Contacts
					h2 Contact Us
				.text-block.text-block-4
					h5 Have questions?
					.list.list-icons-3
						.list-item
							.list-icon.linearicons-telephone
							span.h3.text-primary
								span= 'Tel: '
								a.link.link-primary( href='tel:#' ) (123) 456-7890
				.row.row-15.row-text
					.col-sm-6.col-md-12.col-lg-6
						.text-block.text-block-3
							h5 Opening Hours
							ul.list.small-1
								li.list-item Monday – 8am – 7pm
								li.list-item Tuesday – 8am – 7pm
								li.list-item Wednesday — 8am – 7:30pm
								li.list-item Thursday – 8am – 6:30pm
								li.list-item Friday —8am – 5pm
								li.list-item Saturday – 8am – 2pm
					.col-sm-6.col-md-12.col-lg-6
						.text-block.text-block-3
							h5 Address
							ul.list.small-1
								li.list-item 670 Lafayette Ave, Brooklyn, NY 11216
				.btn-group-1
					a.btn.btn-lg( href='book-an-appointment.html' ) Book an Appointment

			.col-md-6
				.box.box-form-1.section-offset-item
					.box-header
						h3.box-title Ask us anything!
					.box-body
						form.rd-form.rd-mailform( data-form-output='contact-form-1', data-form-type='contact', method='post', action='components/rd-mailform/rd-mailform.php' )
							.form-group
								label.form-label( for='contact-1-name' ) * Full name
								.form-control-wrap
									input#contact-1-name.form-control( type='text', name='name', placeholder='e.g. Adam Smith', data-constraints='@Required' )
							.form-group
								label.form-label( for='contact-1-email' ) * Email
								.form-control-wrap
									input#contact-1-email.form-control( type='email', name='email', placeholder='e.g. adamsmith@company.com', data-constraints='@Email @Required' )
							.form-group
								label.form-label( for='contact-1-phone' ) * Phone number
								.form-control-wrap
									input#contact-1-phone.form-control( type='text', name='phone', placeholder='e.g. 123-456-7890', data-constraints='@Numeric @Required' )
							.form-group
								label.form-label( for='contact-1-message' ) Message
								.form-control-wrap
									textarea#contact-1-message.textarea-1.form-control( name='textarea', placeholder='Your message', data-constraints='@Required' )
							.rd-form-btn.text-left
								button.btn.btn-lg.btn-primary( type='submit' ) Get In Touch
							.rd-form-meta.small
								span= 'By clicking the button you agree to the '
								a.link.link-underline( href='privacy-policy.html' ) Privacy Policy
								br.d-none.d-lg-inline
								span= ' and '
								a.link.link-underline( href='terms-of-use.html' ) Terms of Service
								span= ' .'
						#contact-form-1.form-output.snackbar.snackbar-primary
