include _section-repeat-content

// Contact us 6
section.section.section-md.bg-transparent.section-offset-3
	.container.section-offset-item
		.row.justify-content-center
			.col-md-8
				+contact-form-1