// Call to action 6
section.section.section-md.bg-200
	.container
		.row.row-40.justify-content-center.text-center
			.col-md-11.col-lg-10
				h1 Movie Production
				p: span.d-inline-block.text-block-inner Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.btn-group-1
					a.btn.btn-lg.btn-primary( href='contacts.html' ) Get in Touch

