include _section-repeat-content

// Call to action
section.section.section-md.bg-transparent
	.container
		.row.row-40.justify-content-center.text-center
			.col-md-8.col-lg-6
				h2 Get in touch with our managers today
				.text-block.text-block-2.d-sm-inline-flex.align-items-center
					p Have questions?
					.list.list-icons-2
						.list-item
							span.list-icon.onclinic-phone
							span.h5
								a.link( href='tel:#' ) (123) 456-7890
				.btn-group-1
					a.btn.btn-lg( href='purposes.html' ) Our Services
