include ../google-map/_google-map

// Google map
section.section.p-0
	+google-map({
		center:  { lat: 40.715847, lng: -73.999925 },
		zoom:    12,
		markers: {
			'park': {
				position: 'Columbus Park, Baxter Street, New York, United State',
				html:     'Columbus park'
			}
		},
		styles: [{"featureType":"all","stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},{"featureType":"road","stylers":[{"saturation":-70}]},{"featureType":"transit","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}]})