// Image carousel
section.section.section-md.bg-transparent.text-center
	h3 Gallery
	.owl-carousel.owl-content-2( data-owl= { dots: true }, data-loop='false', data-items='1', data-sm-items='2', data-md-items='3' )
		+img( 'image-15-613x460' ).image.image-block
		+img( 'image-16-613x460' ).image.image-block
		+img( 'image-17-613x460' ).image.image-block
		+img( 'image-08-613x460' ).image.image-block
		+img( 'image-19-613x460' ).image.image-block
		+img( 'image-20-613x460' ).image.image-block