include ../thumbnail/_thumbnail

// Thumbnails
section.section.section-md.bg-200.text-center
	.container
		.text-block
			h3 Good vision for many years
		.row.row-30.row-content.justify-content-center
			.col-sm-6.col-md-4
				+thumbnail({
					img: 'image-08-360x270',
					title: 'Highest professional level',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.'
				})
			.col-sm-6.col-md-4
				+thumbnail({
					img: 'image-04-360x270',
					title: 'Individual treatment program',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.'
				})
			.col-sm-6.col-md-4
				+thumbnail({
					img: 'image-11-360x270',
					title: 'Equipment with international standards',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.'
				})