include ../thumbnail/_thumbnail

// Thumbnail video
section.section.section-md.bg-transparent.text-center
	.container
		.text-block
			.title-1 Featured Videos
			h2 Our showcase

		.row.row-30.row-lg-50.row-content
			.col-xs-6.col-md-4
				+thumbnail-video({
					img: 'image-07-360x270',
					title: 'Peruvian Adventure',
					date: '20 may, 2020',
					text: 'Tristique egestas pellentesque mauris quis volutpat lorem. Duis cursus molestie aliquet a nibh neque in. At.'
				})
			.col-xs-6.col-md-4
				+thumbnail-video({
					img: 'image-08-360x270',
					title: 'Flying Over Bali',
					date: '20 may, 2020',
					text: 'Lobortis natoque quis purus, leo enim fringilla quis. Eget proin dignissim lacus purus aliquet viverra feugiat.'
				})
			.col-xs-6.col-md-4
				+thumbnail-video({
					img: 'image-09-360x270',
					title: 'The Beauty of Scotland',
					date: '20 may, 2020',
					text: 'Velit feugiat ultrices iaculis lacus, tortor facilisis purus placerat viverra. Id ut porta eu tortor risus lorem nunc.'
				})

			.col-xs-6.col-md-4
				+thumbnail-video({
					img: 'image-10-360x270',
					title: 'American Landscapes',
					date: '20 may, 2020',
					text: 'Quisque quis tristique mattis suspendisse adipiscing sit commodo faucibus elit. Porttitor nisi nulla et.'
				})
			.col-xs-6.col-md-4
				+thumbnail-video({
					img: 'image-11-360x270',
					title: 'Urban Simplicity',
					date: '20 may, 2020',
					text: 'Enim dui luctus elit ac ullamcorper auctor morbi. Faucibus diam natoque in non. Et dolor posuere sed egestas.'
				})
			.col-xs-6.col-md-4
				+thumbnail-video({
					img: 'image-12-360x270',
					title: 'Childhood',
					date: '20 may, 2020',
					text: 'Nisl vel nibh porttitor sed. Commodo id id lectus urna, in velit. Vitae mattis luctus arcu ac magna adipiscing.'
				})
