// Video
section.section.section-md.bg-transparent
	.container
		.row.justify-content-center.text-center
			.col-md-8
				h2 Featured review: #[br]DJI Mavic Pro 2
				.video.video-16by9
					iframe( src='https://www.youtube.com/embed/KdvwuQi0AJc', width="1280", height="720", allowfullscreen ).video-frame