extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar-transparent
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Contacts';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_contact-us-3
	include ../components/section/_google-map
	include ../components/footer/_footer-default
