extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar-transparent
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Gallery';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_gallery-grid
	include ../components/footer/_footer-default
