extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar-transparent
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Grid Blog';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_post-boxed
	include ../components/section/_cta-image-bottom
	include ../components/footer/_footer-default
