extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar-transparent
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Purposes';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_cta-5
	include ../components/section/_blurb-boxed-simple
	include ../components/section/_about-us-8
	include ../components/section/_accordion-line-light-bg
	include ../components/footer/_footer-default
